
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.bg{
    width: 50%;
    height: 650px;
    background-color: rgb(215, 209, 209);
    margin-top: 50px;
}

.title{
    font-size: 5rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0px;
}

ul li{
    display:flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

p{
      
    margin-bottom: 0;
}

.btn-delete{
    
    width: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 10px;
    font-size: 1.8rem;
    opacity: 0;
}

.btn-delete:hover{
    opacity: 1;
}

